body{
    background-color: wheat;
    background-image: url(stars.jpg);
    background-repeat-y: no-repeat;
    color: #fff;
}

body * {
    font-family: Ubuntu, serif;
}

h1,h2,h3,h4,h5{
    font-weight: normal;
    margin:0;
}

a,a:hover.a:visited {
    color: #ffffff;
    text-decoration: none;
}
